body {
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #5b5b5b;
  line-height: 1.5;
}

#container {
  display: flex;
  flex-direction: column;
}

/* header component */

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 55px;
  gap: 80px;
  background-color: #eeeeee;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  height: 130px;
}

/* inventory component */

a, a:visited {
  color: #5b5b5b;
}

a:hover {
  color: black;
}

#categories {
  display: flex;
  gap: 25px;
  font-size: 25px;
  padding-left: 60px;
  padding-top: 15px;
}

#inventoryTiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 40px;
  padding-right: 40px;
}

.tile {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.name {
  font-weight: 500;
}

.sku {
  font-style: italic;
  font-size: 12px;
}

/* footer component */

.footer {
  font-size: 12px;
  line-height: 8px;
  margin-top: 45px;
}
